*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/sessions/kotlin-compiler-12368373708075324634.salive
/.kotlin/sessions/kotlin-compiler-11899976587016164425.salive
/.kotlin/sessions/kotlin-compiler-18146745352156038380.salive
/.idea/appInsightsSettings.xml
/app/google-services.json
/.kotlin/sessions/kotlin-compiler-11751107952413222968.salive
